<mat-card class="contact">
    <div class="card">
       <img class="avatar" src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.6435-9/c0.34.600.600a/p600x600/245450031_228957575960472_6539602996856110005_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHpMTm5j6srvKCIUNJ3pcFd99w6F9s1KQ733DoX2zUpDkM8wyNUKmHY4hNTlwh8QegZeKvYTl3ke9iVMZWFhLfg&_nc_ohc=6DH22F7u-Q0AX-S_KHH&_nc_ht=scontent.fceb1-2.fna&oh=4b7a4acfcfa5f50aee9dcd5ead363a0d&oe=61916921" alt="">
       <h3 class="title">Ruel Contact <mat-icon>contact_page_outline</mat-icon></h3>
   <div class="info">
       <h4 ><mat-icon aria-hidden="false"  >mail_outline</mat-icon>: ruelbaldo75@gmail.com</h4>
       <h4><mat-icon aria-hidden="false" >phone</mat-icon>:095839953938</h4>
       
   </div>
   </div>
</mat-card>
