
<div class="main_header">
    <div class="headimg">
         <img src="https://z-m-scontent.fdvo1-1.fna.fbcdn.net/v/t1.6435-1/cp0/e15/q65/c0.0.111.111a/p111x111/245903263_232743978915165_917953373238380225_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=dbb9e7&efg=eyJpIjoibyJ9&_nc_eui2=AeHbp6W98hrbVHMB9QcAgaNc7o3DkMIrNvPujcOQwis283hCH0HAZrie0W82Z2ZDZoBgqWFKsyV6JLX2xq852ynF&_nc_ohc=IKTW89Uyy80AX-Z1fKk&_nc_oc=AQkt2c-Koyk7LU36RtTmUMod809QqYth5iBBjBLDHOMVCaEyz_3-soMccsQSLE7pe7E&_nc_ad=z-m&_nc_cid=1119&_nc_eh=09060ba0f77a99f737ba7747a7cb0dbd&_nc_rml=0&_nc_ht=z-m-scontent.fdvo1-1.fna&oh=c4c517aec5444abc4a85c4b1f120407f&oe=619951B6" alt="">
         <p>{{name}} </p>
    </div>
</div>
<div class="main-content">
    <h3 class="info">INFORMATION</h3>
    <mat-drawer-container class="nav-container">
        <mat-drawer class="side"mode="side" opened >
             <input type="hidden" #selection>
             
                <button mat-button (click)="selection.value = 'HOME'" tabindex="0">
                    <a href="#" class="flex"><mat-icon aria-hidden="false">home</mat-icon>Home</a>
                </button>
                <button mat-button (click)="selection.value = 'PROFILE'" tabindex="0">
                  <a href="#" class="flex"><mat-icon aria-hidden="false">person</mat-icon>Profile</a>
                  
                </button>
                <button mat-button (click)="selection.value = 'CONTACT'" tabindex="0">
                    <a href="#" class="flex" ><mat-icon aria-hidden="false">phone</mat-icon>Contact</a>
                  </button>
                  <button mat-button (click)="selection.value = 'GALLERY'" tabindex="0">
                    <a href="#" class="flex"><mat-icon aria-hidden="false">image</mat-icon>Gallery</a>
                  </button>
                  
       </mat-drawer>
        <mat-drawer-content [ngSwitch]="selection.value">
           
            <div class="Profile"  *ngSwitchDefault="'HOME'">
                <h4 class="title"><img class="home_pic" src="https://z-m-scontent.fdvo1-1.fna.fbcdn.net/v/t1.6435-1/cp0/e15/q65/c0.0.111.111a/p111x111/245903263_232743978915165_917953373238380225_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=dbb9e7&efg=eyJpIjoibyJ9&_nc_eui2=AeHbp6W98hrbVHMB9QcAgaNc7o3DkMIrNvPujcOQwis283hCH0HAZrie0W82Z2ZDZoBgqWFKsyV6JLX2xq852ynF&_nc_ohc=IKTW89Uyy80AX-Z1fKk&_nc_oc=AQkt2c-Koyk7LU36RtTmUMod809QqYth5iBBjBLDHOMVCaEyz_3-soMccsQSLE7pe7E&_nc_ad=z-m&_nc_cid=1119&_nc_eh=09060ba0f77a99f737ba7747a7cb0dbd&_nc_rml=0&_nc_ht=z-m-scontent.fdvo1-1.fna&oh=c4c517aec5444abc4a85c4b1f120407f&oe=619951B6" alt="">{{home}}</h4>
                 <div class="home"><br><br><br>
                     <h3>WELCOME </h3>
                     <h4>To</h4>
                     <h5>My WEB </h5>
                     <p><strong>Application</strong>  Using <img
                        width="40"
                        alt="Angular Logo"
                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                      />Angular</p>
                 </div>
                
           </div>
             <div class="Profile" *ngSwitchCase="'PROFILE'">
                  <h4 class="title">{{profile}}</h4>
                  <app-profile></app-profile>
                 
             </div>
             <div class="Profile" *ngSwitchCase="'CONTACT'">
                <h4 class="title">{{contact}}</h4>
                <app-contact></app-contact>
                
            </div>
            <div class="Profile" *ngSwitchCase="'GALLERY'">
                <h4 class="title">{{gallery}}</h4>
               
           </div>
          
        </mat-drawer-content>
    </mat-drawer-container>
</div>


